.sample-canvas {
    height: 500px;
    max-height: 800px;
    /* background-color: red; */
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, .3);
    margin-bottom: 5rem;
  }

.drawingBtns {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 0 1rem;
}

.drawingBtns button {
    font-size: .95rem;
    cursor: pointer;
    padding: .6rem 1rem;
    background-color: rgb(53, 53, 161);
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}