.auth {
    margin-top: 4rem;
}
  
  .container {
    position: relative;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  .form {
    /* background-color: rgba(0, 0, 0, .5); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }
  
  form {
    position: relative;
    background-color: white;
    box-shadow: 3px 5px 15px -2px rgba(0, 0, 0, .5);
    padding: 1rem;
    width: 28rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: showForm 2s linear;
    -webkit-animation: showForm .36s linear;
}

  form h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: darkblue;
  }

  
  @keyframes showForm {
    from {
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
  }
    to {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -moz-transform: scale(1.0);
      -ms-transform: scale(1.0);
      -o-transform: scale(1.0);
  }
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
  }
  
  .formGroup > label {
    color: gray;
    font-size: .9rem;
    margin-bottom: 0.3rem;
  }
  
  .formGroup > input {
    padding: .7rem;
    border: none;
    box-shadow: 0 0 3px -0.7px rgba(0, 0, 0, .5);
    border-radius: 5px;
    font-size: .95rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
  .emptyInput {
    border: 1px solid rgb(238, 31, 31) !important;
    box-shadow: none !important;
  }
  
  .correctInput {
    border-color: rgb(54, 199, 54) !important;
  }
  
  .errorMessage {
    color: rgb(248, 46, 46);
    font-size: .85rem;
    margin: 0;
    margin-top: 2px;
  }
  
  .formGroup > input:focus {
    border: 1px solid gray;
    outline: none;
    box-shadow: none;
  }
  
.togglePassword {
    position: absolute;
    right: 1rem;
    bottom: .4rem;
    font-weight: 500;
    cursor: pointer;
    color: gray;
}

  .btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  
  .btns > button {
    padding: .8rem 2rem;
    font-size: 1rem;
    /*width: 5rem;
    */border: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  
  .saveBtn {
    background-color: rgb(54, 199, 54);
  }

  .saveBtn:disabled {
    opacity: .7;
    cursor: not-allowed;
  }
  
  .formFooter p {
    text-align: center;
    padding: 2rem 0 1rem;
    font-size: .95rem;
  }

  .formFooter p a {
    font-weight: 500;
    text-decoration: none;
    color: darkblue;
  }

  .formFooter p a:hover {
    text-decoration: underline;
  }