.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    padding-right: 5rem;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .3);
}

.header a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.5rem;
    font-size: 1.1rem;
}

.header .appName {
    color: darkblue;
}

.header .appName {
    font-size: 2rem;
}